include LICENSE
include README.md
include CLAUDE.md
include LANGUAGE_SPEC.md
include pyproject.toml
recursive-include doc *.md
recursive-include examples *.df
recursive-include exercicios *.df
recursive-include tests *.py
recursive-include dataforge *.py
recursive-include editor *.json
global-exclude *.pyc
global-exclude __pycache__/*
